<!DOCTYPE html>
<html>

<head>
    <title>About the Author</title>
</head>

<body>
    <h1>About the Author</h1>
    <p>Hi, my name is Karol and I am a businessman and developer from Poland.</p>
    <p>My favorite programming languages and tools:</p>
    <p align="left" dir="auto">
        <a href="https://www.djangoproject.com/" rel="nofollow">
            <img src="https://camo.githubusercontent.com/537f66454b766b0d56da91225206ebf6d28ecff24d84668d52cf9430e02460fd/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f6d2f6c6f676f732f646a616e676f2e737667"
                alt="django" width="40" height="40"
                data-canonical-src="https://cdn.worldvectorlogo.com/logos/django.svg" style="max-width: 100%;">
        </a> <a href="https://flask.palletsprojects.com/" rel="nofollow"> <img
                src="https://camo.githubusercontent.com/cb2324a4c0e1910089f481d56e1f887d6e96114101987dfbb6ef6f9df1e0bf08/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f706f636f6f5f666c61736b2f706f636f6f5f666c61736b2d69636f6e2e737667"
                alt="flask" width="40" height="40"
                data-canonical-src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg"
                style="max-width: 100%;">
        </a> <a href="https://golang.org" rel="nofollow"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original.svg" alt="go"
                width="40" height="40" style="max-width: 100%;"> </a> <a href="https://www.mongodb.com/" rel="nofollow">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
                alt="mongodb" width="40" height="40" style="max-width: 100%;">
        </a> <a href="https://www.mysql.com/" rel="nofollow"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                alt="mysql" width="40" height="40" style="max-width: 100%;"> </a> <a href="https://www.python.org"
            rel="nofollow"> <img
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                alt="python" width="40" height="40" style="max-width: 100%;"> </a>
    </p>
    <p>In my free time, I enjoy traveling and trying out new food.</p>
    <p>You can contact me at:</p>
    <ul>
        <li>Email: business.karol@gmail.com</li>
        <li>Twitter: <a href="https://twitter.com/DevKarol">DevKarol</a></li>
    </ul>
    </ul>
</body>

</html>