<!DOCTYPE html>
<html>

<head>
    <title>About the Author</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #09131b;
            }
            p ,h1, h2, h3, h4, h5, h6 {
                color: #f8f9fa;
            }
            #aboutauthor{
              padding:40px;

            }
            main{
              text-align: center;
              position: relative;
              margin-left:10%;
              margin-right: 10%;
              display: block;
            }
            #gitstats{
              padding-bottom:40px;
              margin:10px;
            }

            #contact{
              color:white;
              padding: 20;
              line-height: 30px;
              
            }
            

          </style>
</head>

<body>
    <main>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="/" class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link active">About Me</a>
            </li>
            <li class="nav-item">
              <a href="/product" class="nav-link ">Product</a>
            </li>
            <li class="nav-item">
              <a href="/products" class="nav-link ">Products</a>
            </li>
          </ul>
        </header>
      </div>
    <div id="aboutauthor"> 
    <h1>About the Author</h1><br/>
    <p>Hi, my name is Karol and I am a businessman and developer from Poland.</p>
    <p>My favorite programming languages and tools:</p>
    
      
          <a href="https://www.djangoproject.com/" rel="nofollow">
              <img src="https://camo.githubusercontent.com/537f66454b766b0d56da91225206ebf6d28ecff24d84668d52cf9430e02460fd/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f6d2f6c6f676f732f646a616e676f2e737667"
                  alt="django" width="40" height="40"
                  data-canonical-src="https://cdn.worldvectorlogo.com/logos/django.svg" style="max-width: 100%;">
          </a> <a href="https://flask.palletsprojects.com/" rel="nofollow"> <img
                  src="https://camo.githubusercontent.com/cb2324a4c0e1910089f481d56e1f887d6e96114101987dfbb6ef6f9df1e0bf08/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f706f636f6f5f666c61736b2f706f636f6f5f666c61736b2d69636f6e2e737667"
                  alt="flask" width="40" height="40"
                  data-canonical-src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg"
                  style="max-width: 100%;">
          </a> <a href="https://golang.org" rel="nofollow"> <img
                  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original.svg" alt="go"
                  width="40" height="40" style="max-width: 100%;"> </a> <a href="https://www.mongodb.com/" rel="nofollow">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
                  alt="mongodb" width="40" height="40" style="max-width: 100%;">
          </a> <a href="https://www.mysql.com/" rel="nofollow"> <img
                  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
                  alt="mysql" width="40" height="40" style="max-width: 100%;"> </a> <a href="https://www.python.org"
              rel="nofollow"> <img
                  src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                  alt="python" width="40" height="40" style="max-width: 100%;"> </a>
    
      
      <p>In my free time, I enjoy traveling and trying out new food.</p>
    </div>


    <div id="gitstats">
        <img alt="SNEEZxd's GitHub Stats"
        src="https://camo.githubusercontent.com/7281fcb8a713740c11bca614d3746572ba911b641c460ca654def3f08977162b/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170693f757365726e616d653d534e45455a78642673686f775f69636f6e733d7472756526686964655f626f726465723d66616c7365267469746c655f636f6c6f723d6666363532662669636f6e5f636f6c6f723d4646453430302662675f636f6c6f723d30393133314226746578745f636f6c6f723d66666666666626626f726465725f636f6c6f723d306331613235"
        data-canonical-src="https://github-readme-stats.vercel.app/api?username=SNEEZxd&amp;show_icons=true&amp;hide_border=false&amp;title_color=ff652f&amp;icon_color=FFE400&amp;bg_color=09131B&amp;text_color=ffffff&amp;border_color=0c1a25"
        style="max-width: 100%;">
    </div>

    <div id="contact">
        Contact me!<br/>

        Discord: <a href="https://discord.com/">Karol_Welc#9061</a><br/>
        Twitter: <a href="https://twitter.com/">Karol_Welc</a><br/>
        Email: <a href="https://gmail
        .com/">business.karol@gmail.com</a><br/>
        
        
    </div>

  </main>
</body>

</html>